nav
	div.row.is-transparent
		div.columns
			img.logo(src="img/logo.jpg")
			ul
				li
					a.active(href="#") Home
					a(href="#") Behandelingen
					a(href="#") Klachten
					a(href="#") Kosten
					a(href="#") Contact
					

					
