each block in blocks
    if (block.id == 'pricing')
        div.row.has-gap.small-collapse(data-equalizer data-equalize-by-row="true")
            div.columns.small-12.medium-6
                section.block.block--intro(data-equalizer-watch)
                    h2.section__title= block.title
                    div.section__content!= block.contents

            div.columns.small-12.medium-6
                    div.block__image(data-equalizer-watch)
                        img(src="img/"+block.image)
