each block in blocks
    if (block.id == 'symptoms')
        div.row.small-collapse
            div.columns
                section.block.block--symptoms
                    h2.section__title= block.title
                    div.section__content.has-columns!= block.contents
