doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=yes")

    title= title
    link(rel="stylesheet" href="css/main.css")

  body

    main
        include partials/nav
        include partials/intro
        include partials/treatments
        include partials/symptoms
        include partials/pricing
        include partials/contact

    script(src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(src="//cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js")
    script(src="js/main.js")


